#pokemon-fight {
}

#fight-logs {
  overflow-y: scroll;

  border: 5px black;
  padding: 5px;
  width: 80%;
  height: 600px;

  font-size: 15px;

  margin-left:auto;
  margin-right:auto;

  display: flex;
  flex-direction: column-reverse;
}
