<table width="100%" id="pokemon-fight">
  <tr>
    <td align="center" colspan="2">
      <h1 id="battle-name"> {{ battle?.name ? battle.name : 'No battle' }} </h1>
    </td>
  </tr>
  <tr *ngIf="battle != null || battle != undefined">
    <td align="center">
      <h3> {{ battle?.firstPokemon?.name }} </h3>
      <strong>{{ battle?.firstPokemon?.hp }} HP</strong>
      | speed : {{ battle?.firstPokemon?.speed }}
    </td>
    <td align="center">
      <h3> {{ battle?.secondPokemon?.name }} </h3>
      <strong>{{ battle?.secondPokemon?.hp }} HP</strong>
      | speed : {{ battle?.secondPokemon?.speed }}
    </td>
  </tr>
  <tr>
    <!-- LOGS -->
    <td colspan="2">
      <br/>
      <br/>
      <br/>
      <div id="fight-logs" [innerHtml]="battle.fightLogs">
      </div>
    </td>
  </tr>
</table>
